.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.modal_opened {
  display: flex;
  visibility: visible;
}

.modal__container {
  position: relative;
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__close-btn {
  background-image: url(../images/icons/close-icon.svg);
  opacity: 40%;
  border: 0;
  background-color: #fff;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: rgba(33, 33, 33, 0.7);
  line-height: 1.1;
  font-weight: 500;
  size: 16px;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  padding: 18px 0;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
}
.modal__submit-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.4);
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.modal__input:hover {
  cursor: pointer;
  border-color: rgba(33, 33, 33, 1);
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__label {
    margin-bottom: 24px;
    font-size: 16px;
  }
  .modal__submit-btn {
    width: 100%;
  }

  .modal__input {
    font-size: 16px;
  }
}
