.page {
  background-color: #fcf5e5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.page__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__section {
  max-width: 1280px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}
